  .content {
        position: fixed;
        top:20%;
        bottom: 30%;
       
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
      }
      body {
        position: relative;
        height: 100%;
      }
      .carousel-container{
        position: relative;
        height: 100%;
        width: 100%;
      }
      /*<!-- Carousel -->*/

      .carousel-inner {
        height: fit-content;
      }
      /*<!-- Carousel Text -->*/
      .carousel-caption{
        position:absolute;
        top:20%;
        left:10%;

        transform: translate(-50%,-50%);
        z-index: 100;
        
      }
      .jumbotron{
        background:transparent;
        
        margin-top: 1px;
      }

      .nv{
        font-size: 20px;
        margin-right:10px;
        font-family: 'Kanit', sans-serif;
      }
      .nv:hover{
        color:white; 
        background-color:#F06B0A;
        border-radius: 25px;
        border-style: 1px solid blue;         

      }
      .center{
        position:absolute;
        top:70%;
        left: 50%;

        transform: translate(-50%,-50%);
        z-index: 100;
      }
      
      .cimg{
          height: 350px;
          width: 400px;
          border-style: double; ;
          border-color: black;
           transition: all 1.0s ease;
            -moz-border-radius:10px;
            -webkit-border-radius:10px;
            border-radius:5px;
           margin:auto;
          
         }
         .cimg:hover{
             transition: all 0.5s ease;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
              -webkit-box-shadow: 0px 0px 30px 0px rgba(46, 49, 49, 1);
              -moz-box-shadow:    0px 0px 30px 0px rgba(46, 49, 49, 1);
              box-shadow:         0px 0px 30px 0px rgba(46, 49, 49, 1);
              background-color:blue;
      
      }
      .card:hover{
             transition: all 0.5s ease;
              -webkit border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
              -webkit-box-shadow: 0px 0px 30px 0px rgba(46, 49, 49, 1);
              -moz-box-shadow:    0px 0px 30px 0px rgba(46, 49, 49, 1);
              box-shadow:         0px 0px 30px 0px rgba(46, 49, 49, 1);
              background-color:#00a3cc;
              color:white;
      
      }
      .card:last-of-type:hover{

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(46, 49, 49, 1);
    -moz-box-shadow:    0px 0px 30px 0px rgba(46, 49, 49, 1);
    box-shadow:         0px 0px 30px 0px rgba(46, 49, 49, 1);
} 
       
      


      .tra{
        transition: 750ms;
        background-color: transparent;
      }
      .scroll{
        background-color:  #1e1e2f;
      }



      .top{
        position:absolute;
        top:32%;
        left: 22%;
      }
      .bcolor{
        background-color: #1e1e2f;
        color: white;
      }
      
      .ceo{
        position: absolute;
      top: 60px;
      left: 80px;
      border-radius: 250px;
      }
      .jumbotron1 {
          width: 100%;
          overflow: hidden;
          margin-left: 400px;
          max-width: 500px
        }

        .carousel-caption p {
          animation: 2s slide-right;
          animation-delay: 2s;
        }

        @keyframes slide-right {
          from {
            margin-left: -100%;
          }

          to {
            margin-left: 0%;
          }
        }
        .carousel-caption h1 {
          animation: 2s slide-left;
          animation-delay: 2s;
        }

        @keyframes slide-left {
          from {
            margin-right:-500px;
          }

          to {
            margin-left: 0%;
          }
